  <div class="row search">
		<div class="column column-80">
			<input class="search--input" name="userInput" type="text" placeholder="Search for twitter user"></input>
		</div>

		<div class="column column-20">
			<button class="search--button">Go!</button>
		</div>
  </div>
